nav{
   overflow: hidden;
   background-color: rgb(82, 145, 216);
   position: relative;
   max-width: 400px;

}

nav #myLinks{
    display: none;
}

nav a, button{
   color: beige;
   padding: 20px;
   text-decoration: none;
   font-size: 20px;
   display: block;
   float: right;
}

nav button .icon{
    background-color: rgb(82, 145, 216) ;
    display: block;
    position: absolute;
    margin-top: 10px;
    top: 0;
    right: 10px;
}

nav a:hover{
   background-color: bisque;
   color:black;
}