article p{
  background: rgb(255, 0, 0);
  color: rgb(118, 205, 240);
  padding: 20px;
}


article > p {

  background-color: rgb(68, 0, 255);
  padding: 20px;

}



article + p {

  background-color: rgb(108, 166, 233);
  padding: 20px;

}


article ~ p {

 background-color: rgb(108, 166, 233);
 padding: 20px;

}

h3:first-of-type {
    color: rgb(0, 140, 255);
 
}


input:in-range {

   border: 1px solid rgb(9, 255, 0);

}

input:in-range {

    border: 3px solid rgb(255, 0, 0);
 
 }

input:required {

background-color: rgb(0, 151, 238);

}

input:focus {

 background-color: bisque;
}


p::first-line {

  color: rgb(255, 0, 234);
}

p::first-letter {
    color: rgb(0, 255, 21);
    font-size: 30px;
}
  